# Ignore root-level Angular build artifacts
main-*.js
polyfills-*.js
styles-*.css
chunk-*.js
# Dependencies
node_modules/

# Build output
dist/

# Angular cache
.angular/

# Environment / secrets
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Zips
*.zip
