# Dependencies
node_modules/

# Build output
dist/

# Angular cache
.angular/

# Environment / secrets
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Zips
*.zip
